@using CRUDelicious.Models
@model List<Dish>

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CRUDelicious</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <h1>Welcome to CRUDelicious</h1>
        <div class="recentDishes">
            <h3>Check out some recent dishes!</h3>
            <div class="border"></div>
            <ul>
                @{
                    foreach(Dish dish in Model)
                    {
                        <li><a href="@dish.DishId">@dish.Name</a> by @dish.Chef</li>
                    }
                }
            </ul>
        </div>
        <a href="/new" class="add">Add a Dish</a>
    </body>
</html>